.card {
  border: none;
  margin-bottom: 1rem;
}
.card h5 {
  transition: all 0.7s;
}
.card-body {
  height: 70px;
}
.card h5:hover {
  cursor: pointer;
  color: aliceblue;
  font-size: 1.2rem;
}
.div-img {
  overflow: auto;
}
.div-img img {
  cursor: pointer;
}
.overview {
  /* display: none; */
  position: absolute;
  bottom: 35px;
  /* color: white; */
  transform: translateX(340px);
}
.card-img-top:hover .overview {
  transform: translateX(0px);
  cursor: pointer;
}
