.navbar {
  background-color: orange;
  height: 12vh;
}
.navbar .btn-dark:hover {
  background-color: orange;
  color: black;
}
h3 {
  cursor: pointer;
}
.falist {
  /* display: block; */
  background-color: orange;
  border: none;
  font-size: 2rem;
}
